<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis quos eius eaque sed perferendis eligendi
            doloremque quidem, doloribus mollitia consectetur?</p>
    </div>
</section>